# If you don't want to provide your own Chromium executable, provide the directory the proxy should download it's own to and the version.
CHROMIUM_DIRECTORY=.cache/chromium
CHROMIUM_STATIC_VERSION=1381568 # Last stable branch position as of 2025-02-11. # Checkout https://chromiumdash.appspot.com/

# Optional: Bring your own Chrome/Chromium by providing the path to the Chromium executable if you want to provide your own. If specified, CHROMIUM_DIRECTORY and CHROMIUM_STATIC_VERSION are ignored.
#CHROMIUM_EXECUTABLE_PATH=/Applications/Google Chrome.app/Contents/MacOS/Google Chrome

# The port the proxy will listen on localhost:{CDP_PROXY_PORT}.
CDP_PROXY_PORT=9222